.vs
/OpenIDConnectAuthentication/bin
/OpenIDConnectAuthentication/obj
/OpenIDConnectAuthentication/AuthSample.cer
/OpenIDConnectAuthentication/AuthSample.pfx
/OpenIDConnectAuthentication/AuthSample.pvk