@{
    @model string
}

<a href="https://localhost:44336/authentication/loginmicrosoft?returnurl=@Model">
    <input type="submit" value="Login with Microsoft" class="btn btn-primary" />
</a>
<a href="https://localhost:44336/authentication/logingoogle?returnurl=@Model">
    <input type="submit" value="Login with Google" class="btn btn-primary" />
</a>