@{
    @model OpenIDConnectAuthentication.AuthenticationRequest
}

<a href="https://localhost:44336/authentication?identityprovider=Microsoft&redirect_uri=@Model.ReturnURL&nonce=@Model.Nonce&state=@Model.State&client_id=@Model.Client_id&scope=@Model.Scope&response_type=@Model.Response_type">
    <input type="submit" value="Login with Microsoft" class="btn btn-primary" />
</a>
<a href="https://localhost:44336/authentication?identityprovider=Google&returnurl=@Model.ReturnURL&nonce=@Model.Nonce&state=@Model.State">
    <input type="submit" value="Login with Google" class="btn btn-primary" />
</a>